<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
             <meta http-equiv="X-UA-Compatible" content="IE=edge">
             <meta name="viewport" content="width=device-width, initial-scale=1">
             <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.css') }}">
        {% endblock %}
           <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
           <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
           <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
           <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js">
           </script>
    </head>
    <body>
        {% block menu %}
            <div class="container-fluid">
                <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">WebSiteName</a>
                        </div>
                        <ul class="nav navbar-nav">
                            <li><a href="{{path('todo_index')}}">Home</a></li>
                            <li><a href="{{path('todo_new')}}">statistiques</a></li>
                            <li><a href="{{path('todo_new')}}">statistiques</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        {% endblock %}     
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{asset('js/jquery-3.3.1.min.js')}}"></script>
           
        {% endblock %}
        
        {% block footer %}
        <footer class="page-footer font-small blue pt-4 mt-4">
            <div class="footer-copyright py-3 text-center">
                © 2018 Copyright:
                <a href=""> MDBootstrap.com </a>
            </div>
        </footer>
 {% endblock %}
    </body>
</html>
