{% extends 'base2.html.twig' %}
{% block body %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <!---->
    <!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header"><center>
        <h4 class="modal-title">Todo creation</h4>
    </center>
        <a href="{{ path('todo_index') }}">
        <button type="button" class="close" >&times;</button>
        </a>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <h1>Todo edit </h1>
            {{ form_start(edit_form) }}
                {{ form_widget(todo.url) }}
                <input type="submit" value="Edit"  class="btn btn-success" />
            {{ form_end(edit_form) }}
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <a href="{{ path('todo_index') }}">
        <button type="button" class="btn btn-danger" >Close</button>
        </a>
      </div>
    </div>
  </div>
</div>
<script>
$(document).ready(function(){

$("#myModal").modal(
{  backdrop: 'static',
keyboard: false}
);

});
</script>
    <!---->
{% endblock %}
