{% extends 'base2.html.twig' %}
{% block body %}
    

    <div class="page-header">
                <h1>Example Page Header</h1>      
          </div>
    <div class="row">
        
        <div class="col-md-8" style="background:gray;">
                <h2>liste  des   todos 
                </h2> 
            <table class="table">
                <th><center>######</center></th>
                <th><center>NAME</center></th>
                <th><center>DUE DATE</center></th>
                <th><center>Action</center></th>
                {% for todo in todos %} 
                 <tr>
                    <td>{{todo.id}}</td>
                    <td>{{todo.name}}</td>
                    <td>{{todo.duedate|date('F j,Y')}}</td>
                    <td>
                        <center>
                            <a href="{{path('todo_show',{'id':todo.id})}}" class="btn btn-success">
                                view
                            </a>
                            <a href="{{path('todo_edit',{'id':todo.id})}}" class="btn btn-default">
                                edit
                            </a>
                            <a href="{{path('todo_delete',{'id':todo.id})}}" class="btn btn-danger">
                                delete
                            </a>
                        <center>
                    </td>
                 </tr>
                {% endfor %}
            </table>
            <div class="text-center">{{ knp_pagination_render(todos) }}</div>
            <a href="{{path('todo_new')}}" style="float:right;">
                <button type="button"  class="btn btn-info">
                    <span class="glyphicon glyphicon-plus"></span>  
                </button>
            </a>
            <canvas id="myChart" style="background:white;"></canvas> 
        </div>
        <div class="col-md-4">
        </div>
    </div>



{% endblock %}
 {% block javascripts %}
     <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
     <script type="text/javascript" src="{{asset('chart/chart.js')}}"></script>     
     <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
     <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>   
  {% endblock %}
